In [ ]:
#Q4
a=int(input("Enter your Age: "))
if a>=18:
  print('eligible for voting')
else:
  print('not eligible')

Enter your Age: 17
not eligible

In [ ]:
#Q5
a=int(input('Enter a number: '))
if a%2==0:
  print('even no')
else:
  print('odd no')

Enter a number: 2
even no

In [ ]:
#q6
a=34
if a%7==0:
 print(a,'is divisible by 7')
else:
  print(a,'is not divisible by 7')

34 is not divisible by 7

In [ ]:
#Q7
a=int(input('enter a value:'))
if a%5==0:
  print('hello')
else:
  print("bye")

enter a value:34
bye

In [ ]:
#Q8
a=8786578
b=a%10
print(b)

8

In [ ]:
#q9
a=int(input('enter a value:'))
b=a%10
if b%3==0:
  print(b,"is divisible by 3")
else:
  print(b,"is not divisible by 3")

enter a value:9897
7 is not divisible by 3

In [ ]:
#11
a=int(input('enter percentage:'))
if a>90:
  print("grade A")
elif a>80 and a<=90:
  print("grade B")
elif a>=60 and a<=80:
  print("grade C")
else:
  print("grade D")

enter percentage:23
grade D

In [ ]:
#Q12
a=2024
if a%4==0:
  print('leap year')
else:
  print('not a leap year')

leap year

In [ ]:
#Q13
a=int(input('enter a value:'))
if a==1:
  print('sunday')
elif a==2:
  print('monday')
elif a==3:
  print('tuesday')
elif a==4:
  print('wednesday')
elif a==5:
  print('thursday')
elif a==6:
  print('friday')
elif a==7:
  print('saturday')

enter a value:6
friday

In [ ]:
#q14
a=int(input('enter a value:'))
if a==1:
  print('january')
  print('no of days 31')
elif a==2:
  print('february')
  print('no of days 28')
elif a==3:
  print('march')
  print('no of days 31')
elif a==4:
  print('april')
  print('no of days 30')
elif a==5:
  print('may')
  print('no of days 31')
elif a==6:
  print('june')
  print('no of days 30')
elif a==7:
  print('july')
  print('no of days 31')
elif a==8:
  print('august')
  print('no of days 31')
elif a==9:
  print('septembr')
  print('no of days 30')
elif a==10:
  print('october')
  print('no of days 31')
elif a==11:
  print('november')
  print('no of days 30')
elif a==12:
  print('december')
  print('no of days 31')

enter a value:11
november
no of days 30

In [ ]:
a=int(input('Enter loan amount: Rs'))
b=int(input('Enter intrest rate:%'))
c=int(input('Tenure:'))
d=a*(12/100)
e=d*c
f=a+e
g=f/(c*12)
print ("EMI for your loan of amount",a,"for",c,"years is rs",g)

Enter loan amount: Rs100000
Enter intrest rate:%10
Tenure:5
EMI for your loan of amount 100000 for 5 years is rs 2666.6666666666665