In [ ]:
Num1=int(input("enter first number: "))
Num2=int(input("enter second number: "))
print("The sum of Num1 and Num2 is",Num1+Num2)

enter first number: 23
enter second number: 56
The sum of Num1 and Num2 is 79

In [ ]:
A=int(input("side of a square: "))
print("The Area of the square is",A*A)

side of a square: 6
The Area of the square is 36

In [ ]:
Num1=float(input("enter first number:"))
Num2=float(input("enter second number:"))
Average= (Num1+Num2)/2
print(Average)

enter first number:2.5
enter second number:6.7
4.6

In [ ]:


a=int(input("Enter 1st no."))
b=int(input("Enter 2nd no."))
True if a>=b else False

Enter 1st no.26
Enter 2nd no.4

True

In [ ]:
#length of string
a=str(input("enter your first name "))
print (len(a))

enter your first name Jaydeep
7

In [ ]:
#occurence of $ in string
str="$sonamjaydeep$Phutane$"
print(str.count("$"))

3

In [ ]:
#multiple of 7 or not
a=int(input("Enter a number "))
b=a%7
if b==0:
   print(a,"is a multiple of 7")
else:
   print(a,"is not a multiple of 7")

Enter a number 49
49 is a multiple of 7

In [ ]:
#to make a list
a="man"
b="women"
c="boy"
List=list[a,b,c]
print(List)

list['man', 'women', 'boy']

In [ ]:
A,B,C=str(input("Enter your fav movie  ")).split()
print(list[A,B,C])

Enter your fav movie  Strangers Avengers spiderman
list['Strangers', 'Avengers', 'spiderman']

In [ ]:
Tup=["c","d","a","a","b","b","a"]
Tup.sort()
print(Tup)

['a', 'a', 'a', 'b', 'b', 'c', 'd']

In [ ]:
Dict={
      "table":("A piece of furniture","list of facts and figures"),
      "cat":("a small animal")
      }
print(Dict)

{'table': ('A piece of furniture', 'list of facts and figures'), 'cat': 'a small animal'}

In [ ]:
subject={"python","java","c++","python","javascript","java","python","java","c++","c"}
print ("The class rooms allocated to the subjects are ",len(subject))

The class rooms allocated to the subjects are  5

In [ ]:
A={1,2,2,3,4}
print(len(A))

4

In [ ]:
Math=int(input("Enter your marks for math "))
Science=int(input("Enter your marks for science "))
History=int(input("Enter your marks for history "))
Dict={}
Dict["Math"]=Math
Dict["science"]=Science
Dict["History"]=History
print(Dict)

Enter your marks for math 12
Enter your marks for science 13
Enter your marks for history 15
{'Math': 12, 'science': 13, 'History': 15}

In [ ]:
a=float(9.0)
b=str("9")
C=set()
C.add(a)
C.add(b)
C

{'9', 9.0}

In [ ]:
a=1
while a<=100:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
a=100
while a>=1:
    print(a)
    a=a-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
n=3
b=1
while b<=10:
    print(n,"x",b,"=",n*b)
    b=b+1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
a=0
b=1
while a==100:
    print(a)
    b=b+2

In [ ]:
a=0
b=1
while a==100:
    print(a)
    b=b+2

In [ ]:
a=n
n=1
b=a*a
print(b)
a=a+2
print(b)

9
9

In [ ]:
A=[1,4,9,16,25,36,49,64,81,100]
for val in A:
    print(val)

1
4
9
16
25
36
49
64
81
100

In [ ]:
A=(1,4,9,16,25,36,49,64,81,100)
x=49
i=0
for el in A:
    if(el==25):
      print("found 25")
      break
    else:
      print("end")
    i+=1

end
end
end
end
found 25

In [ ]:
for i in range(0,101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for i in range(100,1,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [ ]:

a=int(input("Enter a number "))
for i in range (1,11):
    print(a,"x",i,"=",a*i)

In [ ]:

n=8
Sum=0
i=1
while i<=n:
     Sum+=i
     i+=1
print (Sum)

36

In [ ]:
n=5
Fact=1
for i in range(1,n+1):
       Fact*=i
       i+=1
print (Fact)

120

In [ ]:
n=5
i=1
Fact=1
while i<=n:
    Fact*=i
    i+=1
print(Fact)

120

In [ ]:
A=[]
n=int(input("Enter divisor "))
for i in range(1,101):
    if i%n==0:
        A.append(i)
i+=1
print("The numbers divisible by",n,"are",A)

Enter divisor 6
The numbers divisible by 6 are [6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]