In [ ]:
#kms to miles
c=float(input('kilometers: '))
print(c*0.621,'in miles')

kilometers: 21.3
13.2273 in miles

In [ ]:
#convert celsius to fahrenheit
c=float(input('Temperature in celsius: '))
print(c*1.8+32,'degrees in fahrenheit')

Temperature in celsius: 30.33
86.594 degrees in fahrenheit

In [ ]:
#positive ,negative no. or
c=int(input('number: '))
if c<0:
    print('negative no')
elif c>0:
    print('positive no')
elif c==0:
    print('zero')

number: 0
zero

In [ ]:
#to check leap year
c=int(input('year?: '))
if c%4==0:
      print('leap year')
else:
      print('not a leap year')

year?: 2012
leap year

In [ ]:
#largest among the three
a=180
b=8900
c=1659
if((a>b)and(a>c)):
    print(a)
elif((b>a)and(b>c)):
    print(b)
else:
    print(c)

8900

In [ ]:
#multiplication table of 2
num=2
for i in range(1,11):
  print(num,'x',i,'=', num*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
#calendar
import calendar
yy=2024
mm=3
print(calendar.month(yy,mm))

     March 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [ ]:
#reverse a no.
a=23
revno=0
while num