In [ ]:
a=int(input("no.1 "))
b=int(input("no.2 "))
c=int(input("no.3 "))
def average(a,b,c):
  S=(a+b+c)/3
  return S

print(average(a,b,c))

no.1 4
no.2 6
no.3 2
4.0

In [1]:
Family=["man","woman","boy","girl"]

def output(list):
    S=print(list)
    return S
print(output(Family))

['man', 'woman', 'boy', 'girl']
None

In [ ]:
def N(a):
    if a%2==0:
        print(a,"is an even no")
    else:
        print(a,"is an odd no")
N(81)

81 is an odd no

In [ ]:
def factorial(n):
    i=n-1
    while i==1
    a=n*i

In [ ]:
def currency(a):
    a*=83.44
    return a
print(currency (3),"$ in Indian rupees ")

250.32 $ in Indian rupees